*{
    padding: 0;
    margin: 0;
}
.form-username{
    display: none;
}

.chatroom-container{
    display: block;
    height: 100vh;
    width: 100%;
}

.chatroom-header{
    background-color: black;
    color: blue;
    padding: 0.5rem;
    font-size: 2rem;
}
.messages{
    display: flex;
    flex-direction: column;
    height: 85vh;
    background-color: rgb(198, 235, 223);
}

.messagesent{
    align-self: flex-end;
    background-color: rgb(142, 82, 199);
    padding: 0.5rem;
    margin: 0.5rem;
}
.message{
    background-color: rgb(142, 82, 199);
    width: fit-content;
    padding: 0.5rem;
    margin: 0.5rem;
}
.sendArea{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 0px 200px;
}
#message-input{
    border: 1px solid black;
    font-size: 16px;
    height: 40px;
    width: 50vh;
    border-radius: 4px;
}
#send-button{
    font-size: 19px;
    width: 12vh;
    height: 42px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 8px;
}
#send-button:hover{
    color:rgb(192, 49, 49);
}
